appdirs==1.4.4
click==7.1.2
colour==0.1.5
configparser==5.0.0
cycler==0.10.0
distlib==0.3.1
dtreeviz==0.8.2
filelock==3.0.12
future==0.18.2
Glances==3.1.4.1
graphviz==0.14
importlib-metadata==1.7.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
mailmerge==2.1.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.2
more-itertools==8.4.0
numpy==1.18.5
pandas==1.0.4
patsy==0.5.1
psutil==5.7.0
pydot==1.4.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
sh==1.13.1
six==1.15.0
statsmodels==0.11.1
threadpoolctl==2.1.0
virtualenv==20.0.27
zipp==3.1.0
